{% extends 'base_layout.html' %}

{% load static %}
{% block content %}

<center><header><h1><img src="{% static 'logo11.png' %}">BLOGGING</h1></header></center>
<div >
           <a href="/"> <button class="btn btn-primary" style="padding: 20px;" type="submit" > GO BACK

           </button></a>

</div>

<script>
var error1;
error1 ="{{error}}";
if(error1){
alert("Please enter valid email address ");
}

</script>

<nav>
    <center>
    <div class="blg1" style="background-color:#FFFFFF";" >
            <h2 style="font-family:verdana;color:#000080";> {{blg1.title }} </h2>
                   <b style="color:#338AFF">{{blg1.date}}</b><br>
             <I>{{blg1.body}}</I>
    </div>

</center>
</nav>
   <section>
<article>
    <form action="{% url 'blogapp:second' blg1.slug%}  " method="POST" >
    {%csrf_token%}
    {{comment_forms.as_p}}
    <button class="btn btn-primary"  type="submit">Submit comment</button>
</form>
</article>



<aside>
<h1 style="background-color:#FFFFFF;font-family:verdana;color:#000080";" >COMMENTS</h1>

        <div class="comment" style="font-size:120%;">

            {% for comment in blog_comments %}
            <br>  <br>
            <h3>{{ comment.comment }}</h3>

            <h4>{{ comment.email }}</h4>

                {{ comment.created }}
            {% endfor %}

        </div>

</aside>
       <img src="{% static 'thanking.png' %}">
    </section>

{% endblock %}