{% extends 'base_layout.html' %}


{% block content %}

<center>
    <h1 style="font-family:verdana;color:black;font-size :500%;">BLOGGING</h1>
    <div class="blg1" style="background-color:#FFB6C1"; >
            <h2 style="font-family:verdana;"> {{blg1.title }} </h2>
            <p>{{blg1.body}}</p>
            <p>{{blg1.date}}</p>
    </div>

        <div class="comment">
            {% for comment in blog_comments %}
            <br>
                {{ comment.comment }}
            <br>
                {{ comment.email }}
            <br>
                {{ comment.created }}
            {% endfor %}

        </div>
<form action="/third " method="POST" >
    {%csrf_token%}
    {{comment_forms.as_p}}
    <button class="btn btn-danger" type="submit">Submit comment</button>
</form>
</center>

 <footer>
        <center>
           <a href="/"> <button class="btn btn-danger" type="submit" > GO BACK

           </button></a>
        </center>
    </footer>
{% endblock %}